/* Write your CSS code here */
.bg-coontainer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-right: 220px;
  margin-left: 250px;
}
.iconsst {
  color: rebeccapurple;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto';
}
.iconsst1 {
  color: #2dd4bf;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto';
}
.iconsst2 {
  color: #e73959;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto';
}
.thery-con {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-right: 220px;
  margin-left: 250px;
}
.pr {
  color: #475569;
  font-size: 18px;
}
.icon {
  height: 10vh;
  width: 8vw;
}
